@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
input{
    outline: none;
}
body{
    scroll-behavior: smooth;
    font-family: "Sen";
    margin: 0;
    overflow-x: hidden;
}

.nav{
    height: 70px;
    width: 100vw;
    position: fixed;
    z-index: 11;
    background: white;
}
.nav__list{
    display: inline-block;
    position: absolute;    
}
.nav__list__elem{
    list-style: none;
    display: inline-block;
}
.nav__list__elem>a{
    text-decoration: none;
    color: #1C2085;
}
header{
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
    background-image: url(../img/header_background.svg);
    background-size: cover;
    background-position: bottom;
    margin-bottom: 100px;
}
.header__text{
    position: relative;
    color: white;
    font-weight: bold;
}
.header__newsletter__text{
        line-height: 26px;
        color: white;
        mix-blend-mode: normal;
        opacity: .7;
    }
.header__newsletter__mail{
    height: 46px;
    font-size: 17px;
    padding-left: 20px;
    border-radius: 23px;
    border: 2px solid rgba(56, 165, 219, 0);
    transition: .2s linear;
    box-sizing: border-box;
    outline: none;
}
.header__newsletter__mail:hover, .header__newsletter__mail:focus{
    border: 2px solid #38A5DB;
}
.header__newsletter__button{
    position: relative;
    color: white;
    background-color: #38A5DB;
    height: 46px;
    border-radius: 23px;
    border: 2px solid #38A5DB;
    box-sizing: border-box;
    font-size: 17px;
    transition: .2s linear;
    cursor: pointer;
}
.header__newsletter__button:hover{
    border: 2px solid white;
}
.header__arrow{
    width: 60px;
    height: 60px;
    position: relative;
    top: 50px;
}
.header__arrow_img{
    cursor: pointer;
    transition: .2s linear;
}
.header__arrow_img:hover{
    filter: brightness(.7)
}
.socialIcons{
        position: fixed;
        z-index: 11;
        bottom: 30px;
        right: 50px;
    }
    .socialIcons__img{
        margin-bottom: 10px;
        transition: .2s linear;
    }
    .socialIcons__img:hover{
        filter: brightness(.7)
    }
.contact{
    background-color: #252B42;
    color: white;
    text-align: center;
    padding: 88px 28px 78px 28px;
}
.contact__title{
    line-height: 34px;
    letter-spacing: 12px;
    margin-bottom: 34px;
}
.contact__text{
    margin-bottom: 50px;
}
.contact__form:nth-child(n){
    display: inline-block;
}
.contact__form{
    background-color: #4250BF;
    border-radius: 13px;
    text-align: left;
}
.contact__form__input, .contact__form__mail{
    border: 2px solid rgba(56, 165, 219, 0);
    transition: .2s linear;
    box-sizing: border-box;
    margin-bottom: 24px;
    width: 100%;
        height: 46px;
        border-radius: 23px;
    padding-left: 20px;
    font-size: 17px;
}
.contact__form__input:hover, .contact__form__input:focus, .contact__form__mail:hover, .contact__form__mail:focus{
    border: 2px solid #38A5DB;
}
.contact__form__button{
    display: block;
}
.contact__form__checkbox{
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px;
    margin-bottom: 20px;
}
.contact__form__button{
    height: 46px;
    border-radius: 23px;
    border: 2px solid #38A5DB;
    background: #38A5DB;
    box-sizing: border-box;
    font-size: 17px;
    transition: .2s linear;
    cursor: pointer;
    color: white;
    width: 95px;
}
.contact__form__button:hover{
    border: 2px solid white;
}
input, button{
    font-family: "Sen";
}