@media only screen and (max-width: 600px) {
    .nav__logo{
        width: 56px;
        height: 22px;
        position: relative;
        top: 24px;
    }
    .nav__list{
        right: 27px;
        top: 12px;
    }
    .nav{
        margin: 0 27px 0 16px;
    }
    .nav__list__elem:first-of-type{
        padding-right: 12px;
    }
    .nav__list__elem:nth-of-type(2){
        padding: 0 12px;
    }
    .nav__list__elem:last-of-type{
        padding-left: 12px;
    }
    .header{
        padding-left: 17px;
        padding-top:110px;
    }
    .header__text{
        font-size: 24px;
        line-height: 32px;
        width: calc(100vw - 34px);
    }
    .header__newsletter__text{
        font-size: 14px;
    }
    .header__newsletter__mail{
        width: calc(100vw - 17px);
        margin-bottom: 16px;
    }
    .header__newsletter__button{
        width: calc(100vw - 17px);
    }
    .header__arrow{
        left: calc(50vw - 47px);
    }
    .socialIcons{
        width: 30px;
    }
    .socialIcons__img{
        width: 30px;
    }
}