@media only screen and (min-width: 767px) {

    .nav__logo{
        width: 96px;
        height: 39px;
        position: relative;
        top: 16px;
    }
    .nav__list{
        right: 90px;
        top: 12px;
    }
    .nav{
        padding: 0 27px 0 16px;
    }
    .nav__list__elem:first-of-type{
        padding-right: 20px;
    }
    .nav__list__elem:nth-of-type(2){
        padding: 0 21px;
    }
    .nav__list__elem:last-of-type{
        padding-left: 20px;
    }
    .header__text{
        width: 569px;
        font-size: 40px;
        line-height: 65px;
    }
    .header{
        padding-left: 79px;
        padding-top:150px;
    }
    .header__newsletter__text{
        font-size: 18px;
    }
    .header__newsletter__mail{
        width: calc(100vw - 270px);
    }
    .header__newsletter__button{
        width: 154px;
        left: -70px;
    }
    .header__arrow{
        left: calc(50vw - 109px);
    }
    .socialIcons{
        width: 40px;
    }
    .socialIcons__img{
        width: 40px;
    }
    .contact__title{
    line-height: 34px;
    letter-spacing: 12px;
    margin-bottom: 34px;
}
    .contact__form{
        width: 401px;
        height: 370px;
        padding: 84px 41px 0 41px;
        box-sizing: border-box;
    }
}